## Establish file extensions that are unnecessary to include in the git repo:

# Python bytecode compile files:
*.pyc 

# IPython notebook checkpoint files:
*.ipynb_checkpoints

# Virtual Environment:
nnetfix-py3env/
pyvenv.cfg
# Heavyduty Dataset files
/Datasets/
*.h5  #Might need to update this in case frames are stored as hdf5
*.hdf5
*.xml
test/
*.sub
